* {
  background-image: url("../images/bedroom.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: center;
}

div.time{
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;


}
